# Datei von Artus
# ignoriere alles
*

# außer .gitignore und Ordner mit Suffix ".srcs" (enthält VHDL Dateien eines
# Projektes)
!/.gitignore
!*/

# ignoriere folgende Dateitypen nicht
# VHDL Quellcode
!*.vhd
# Projektdatei
!*.xpr
# Konfiguration der Pins
!*.xdc
# Doku
!*.pdf

#!*.v
#!*.bd
#!*.edif
!*.xci
#!*.dcp
#!*.vds
#!*.pb
#!*.ui
#!*.ooc
#!*.coe
#!*.tcl

# Konfigurationsdatei für Simulationsanzeige
#!*.wcfg